doctype html
html
	head
		meta(charset='UTF-8')
		link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' rel='stylesheet')
		title.
			dashboard

	body(class='text-center')
		h1 Something went wrong! Please tell Tom and give him the message below
		h2= err 
				