<!DOCTYPE html>

<head>
	<title>Generic dating chat</title>
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="bubbles.css">
	<script src="chat.js"></script>
</head>

<div class="header">
	<h1>Generic dating app</h1>
</div>

<div class="chat-screen">
	
</div>

<div class="input-bar">
	<div class="input-bar-inner">
		<input type="text" class="user-input"><input type="submit" class="submit">	
	</div>
</div>
