doctype html
html
    head
        meta(charset='UTF-8')
        title Dashboard
        script(src='/lib/jquery-2.1.3.min.js')
        script(src='/dashboard.js')
        script(src='/lib/moment.js')
        script(src='/lib/bootstrap/3.3.4/js/bootstrap.min.js')
        link(href='/lib/bootstrap/3.3.4/css/bootstrap.min.css' rel='stylesheet')

    body
        .container
            .row
                .col-md-12.text-center
                    .col-md-12.text-center
                        p #{clientId}
                        a(href='https://www.facebook.com/dialog/oauth?client_id=#{clientId}&response_type=code&redirect_uri=http://localhost:3000/dashboard')
                            button.text-center.btn.btn-lg.btn-primary.
                                Authenticate with facebook