html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: sans-serif;
}

i.fat {
	font-size: 30px;
	color: #D24F3B;
}

.man-face {
	width: 65px;
	height: 65px;
	border-radius: 9999px;
	margin-right: 20px;
}

.message {
	margin-top: 15px;
}

.header {
	height: 100px;
	border-bottom: 1px solid #eee;
}

.hidden {
	display: none;
}

.chat-screen {
	height: calc(100% - 200px);
	width: 80%;
	margin: auto;
	overflow-y: scroll;
	overflow-x: hidden;
}

.chat-screen .message {
	min-height: 60px;
}

.input-bar {
	border-top: 5px solid #eee;
	height: 100px;
	background: #DCDDDE;
}

.phrase-container {
	position: absolute;
	z-index: 10;
	top: 40%;
}

.user-input {
	width: 80%;
	height: 40px;
	float: left;
	font-size: 28px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;	
}

.send-message {
	margin: auto;
	width: 80%;
	margin-top: 15px;
	font-size: 36px;
}

.row.phrases {
	height: 100%;
}

.btn-send {
	background: #777778;
	color: #fff;
}

.phrase {
	border-radius: 0;
	color: #484545;
	background: #FFFEFE;
	height: 100%;	
	font-size: 30px;
	box-shadow: 5px 5px 4px #aaa;
	margin-bottom: 30px;
}
.phrase:hover {
	background: #ddd;
	cursor: pointer;
}

.princess.phrase {
	font-family: Waltograph;
	background: #77BFE8 !important;
}
.princess.phrase::after {
	border-color: transparent #77BFE8 !important;
}
.sexy.phrase {
	font-family: Minstrel;
	background: #CE4095 !important;
}
.sexy.phrase::after {
	border-color: transparent #CE4095 !important;
}
.feminist.phrase {
	font-family: 'Times New Roman', serif;
	background: #00487F !important;
}
.feminist.phrase::after {
	border-color: transparent #00487F !important;
}

.character {
	border-radius: 999px;
	height: 85px;
	width: 85px;
	background-size: contain;
	background-position: center;
	box-shadow: 5px 5px 4px #aaa;
}
.princess.character {
	background-image: url(../images/characters/princess.png);
}
.sexy.character {
	background-image: url(../images/characters/sexy.png);		
}
.feminist.character {
	background-image: url(../images/characters/feminist.png);		
}

.submit {
	width: 20%;
	float: left;
	font-size: 20px;
	height: 40px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.message {
	font-size: 24px;
	width: 92%;
	float: left;
}

.user-icon {
	background: #000;
	border: 5px solid #eee;
	border-radius: 9999px;
	margin-top: -20px;
	margin-left: -20px;
	background: url(/images/cinderella.jpg);
	height: 100px;
	width: 100px;
	float: left;
}

.timer {
	border-radius: 9999px;
	background: #bbb;
	overflow: hidden;
	height: 60px;
	width: 60px;
	margin-top: 7px;
}

.timer .inner, .timer .flashing {
	background: #eee;
	height: 60px;
	width: 60px;
	position: relative;
}

.timer .flashing {
	top: 0;
	border-radius: 9999px;
	display: none;
	background: #D0CC53;	
	-webkit-animation-name: flash;
	-webkit-animation-duration: 600ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes flash {
	0% {
		background: #D0CC53;
		opacity: 1;
	}
	50% {
		opacity: 0;	
	}
	100% {
		opacity: 1;
	}
}

.error {
	position: absolute;
	top: 40%;
	width: 100%;
	background: #D04B28;
	color: #fff;
	text-align: center;
	display: none;
	z-index: 1000;
}

.debug {
	position: absolute;
	top: 50px;
	background: #fff;
}