@font-face {
	font-family: Minstrel;
	src: url(../fonts/minstrel.ttf);
}

@font-face {
	font-family: Waltograph;
	src: url(../fonts/waltograph.ttf);
}

@font-face {
	font-family: DinerScriptPlain;
	src: url(../fonts/DinerScriptPlain.ttf);
}