html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: sans-serif;
}

.header {
	height: 10%;
	border-bottom: 5px solid #eee;
	background: #36508D;
	color: #eee;
}

.hidden {
	display: none;
}

.chat-screen {
	height: 80%;
	width: 80%;
	margin: auto;
	overflow: scroll;
}

.chat-screen .message {
	min-height: 60px;
}

.input-bar {
	border-top: 5px solid #eee;
	height: 10%;
	background: #36508D;
}

.send-message {
	margin: auto;
	width: 80%;
	margin-top: 15px;
	font-size: 36px;
}

.user-input {
	width: 80%;
	height: 40px;
	float: left;
	font-size: 28px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;	
}
.submit {
	width: 20%;
	float: left;
	font-size: 20px;
	height: 40px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.message {
	width: 92%;
	float: left;
}

.user-icon {
	background: #000;
	border: 5px solid #eee;
	border-radius: 9999px;
	margin-top: -20px;
	margin-left: -20px;
	background: url(/images/cinderella.jpg);
	height: 100px;
	width: 100px;
	float: left;
}

.timer {
	border-radius: 9999px;
	background: #bbb;
	overflow: hidden;
	height: 60px;
	width: 60px;
	margin-top: 5px;
}

.timer .inner {
	background: #eee;
	height: 60px;
	width: 60px;
	position: relative;
	transition: all 0.016s;
}

.error {
	position: absolute;
	top: 40%;
	width: 100%;
	background: #D04B28;
	color: #fff;
	text-align: center;
	display: none;
}

.debug {
	position: absolute;
	top: 50px;
	background: #fff;
}