html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: sans-serif;
}

.header {
	height: 10%;
}

.hidden {
	display: none;
}

.chat-screen {
	height: 80%;
	overflow: scroll;
}

.chat-screen .message {
	min-height: 60px;
}

.input-bar {
	height: 10%;
	background: #36508D;
}
.input-bar-inner {
	width: 90%;
	margin: auto;
}

.user-input {
	height: 100%;
	width: 80%;
}
.submit {
	width: 15%;
}